.body {
    background: #010030;
}

.line {
    color:white;
    display: flex;
    font-family:monospace;
    font-size:15px;
    width: 100%;
}

.shell-box{
    background: #010030;
    border: 0px;
    color: white;
    font-family:monospace;
    margin-left:5px;
    font-size:15px;
    outline:none;
    flex:1;
}

.output {
    color:white;
    display: flex;
    font-family:monospace;
    font-size:15px;

}

.tooltip{
    font-family:monospace;
    font-size:15px;
    color:white;
    padding-bottom:20px;
}
